/* --- [Globals] --- */

* {
  font-family: '{customFont}', '{googleFont}', Nunito, Arial, sans-serif;
  font-size: {fontSize}px;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* --- [Widget Container] --- */

main {
  --customBorderColor: {borderColor};
  --customNameColor: {nameColor};
  --customBackgroundColor: {backgroundColor};
  --customTextColor: {textColor};
  color: black;
  box-sizing: border-box;
  position: absolute;
  min-height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

main.random-mode.preview-true::before {
  --borderSize: 10px;
  content: '';
  position: absolute;
  height: calc(100% - {padding}px * 2);
  width: calc(100% - {padding}px * 2);
  bottom: calc({padding}px - var(--borderSize));
  left: calc({padding}px - var(--borderSize));
  border: var(--borderSize) dashed white;
  box-shadow: 0 0 5px #000;
  background-color: #0008;
  z-index: -2;
}

main.random-mode.preview-true::after {
  --borderSize: 10px;
  --space: 10px;
  content: 'Messages will only appear within this area (random position mode only).\a\a Drag and resize this box to change the area.\aSpace from Widget Edges in Bubble Styles also affects this area.';
  color: white;
  font-size: 24px;
  position: absolute;
  width: calc(100% - ({padding}px + var(--space)) * 2);
  top: 30%;
  left: calc({padding}px + var(--space));
  text-align: center;
  padding: 30px 0;
  text-shadow: 0 0 5px black;
  white-space: pre;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  z-index: -1;
}

main.preview-true::before, main.preview-true::after {
  animation: fade .4s reverse forwards;
}

main.dark-mode { color: white; }

main.custom-message-colors { color: var(--customTextColor) }

main.list-mode {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  align-content: start;
  overflow: visible;
  padding: {padding}px;
}

/* --- [Bubble Container] --- */

.bubble {
  --defaultBackgroundColor: #FFFD;
  --backgroundColor: var(--defaultBackgroundColor);
  --cornerSize: 23px;
  --userColor: #ff4a80;
  --borderColor: var(--userColor);
  --borderSize: 5px;
  position: absolute;
  top: 30px;
  left: 30px;
  visibility: hidden;
}

.list-mode .bubble {
  margin-top: 10px;
}

.corner-diagonal .bubble {
  --topRightCorner: calc(var(--cornerSize) - var(--borderSize));
  --bottomLeftCorner: calc(var(--cornerSize) / 2);
  --bottomRightCorner: calc(var(--cornerSize) / 2);

  -webkit-mask:
    linear-gradient( 135deg, transparent 0 var(--topLeftCorner, 0),     white 0) top left,
    linear-gradient(-135deg, transparent 0 var(--topRightCorner, 0),    white 0) top right,
    linear-gradient(  45deg, transparent 0 var(--bottomLeftCorner, 0),  white 0) bottom left,
    linear-gradient( -45deg, transparent 0 var(--bottomRightCorner, 0), white 0) bottom right
  ;
  -webkit-mask-size: 51% 51%;
  -webkit-mask-repeat: no-repeat;
  padding: var(--borderSize);
  overflow: hidden;
}

.corner-round .bubble, .corner-square .bubble {
  border: var(--borderSize) solid var(--borderColor);
}

.corner-round .bubble {
  border-radius: 10px;
}

.custom-border-colors .bubble {
  --borderColor: var(--customBorderColor);
}

.custom-message-colors .bubble {
  --backgroundColor: var(--customBackgroundColor);
}

.bubble.animate {
  visibility: visible;
}

.bubble.dynamic {
  animation: pop .5s calc({lifetime}s - .5s) forwards;
}

.bubble.fade {
  animation:
    fade reverse .5s,
    fade .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble.fade-up {
  animation:
    fade reverse .5s,
    fade .5s calc({lifetime}s - .5s) forwards,
  	up .5s,
  	up reverse .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble.fade-down {
  animation:
    fade reverse .5s,
    fade .5s calc({lifetime}s - .5s) forwards,
  	down .5s,
  	down reverse .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble.fade-left {
  animation:
    fade reverse .5s,
    fade .5s calc({lifetime}s - .5s) forwards,
  	left .5s,
  	left reverse .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble.fade-right {
  animation:
    fade reverse .5s,
    fade .5s calc({lifetime}s - .5s) forwards,
  	right .5s,
  	right reverse .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble.zoom {
  animation:
    pop reverse .5s,
    pop .5s calc({lifetime}s - .5s) forwards
  ;
}

.bubble-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--backgroundColor);
}

.corner-diagonal .bubble-background {
  background:
    linear-gradient( 0deg,   var(--borderColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 90deg,  var(--borderColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 180deg, var(--borderColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 270deg, var(--borderColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 135deg, var(--borderColor) 0 calc(var(--topLeftCorner, 0px) + var(--borderSize)),     transparent 0) top left     / 50% 50%,
    linear-gradient(-135deg, var(--borderColor) 0 calc(var(--topRightCorner, 0px) + var(--borderSize)),    transparent 0) top right    / 50% 50%,
    linear-gradient(  45deg, var(--borderColor) 0 calc(var(--bottomLeftCorner, 0px) + var(--borderSize)),  transparent 0) bottom left  / 50% 50%,
    linear-gradient( -45deg, var(--borderColor) 0 calc(var(--bottomRightCorner, 0px) + var(--borderSize)), transparent 0) bottom right / 50% 50%,
    var(--backgroundColor)
  ;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.corner-round .bubble-background {
  border-radius: 5px;
}


.dark-mode .bubble { --defaultBackgroundColor: #000B; }

/* --- [Container Blocks] --- */

.username-box {
  z-index: 1;
  background-color: var(--borderColor);
  box-shadow: 0 -1px 0 1px var(--borderColor);
}

.username {
  text-shadow: 0 2px 0 #0002;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: -3px;
  display: inline-block;
  color: black;
}

.user-color-dark .username {
  color: white;
  text-shadow: 0 1px 0 #0006;
}

.custom-border-colors .username {
  color: var(--customNameColor);
  text-shadow: 0 1px 0 #0004;
}

.message {
  --dynamicWidth: {maxWidth}px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: var(--dynamicWidth);
  max-height: {maxHeight}px;
  overflow: hidden;
}

.dynamic .message { animation: expand 2s; }

/* --- [Message Parts] --- */

.text {
  text-shadow: 0 1px 0 #0004;
}

.emote {
  position: relative;
  vertical-align: middle;
  margin: -.25rem 0;
}

.dynamic .text, .dynamic .emote { animation: fadeMessage 1.5s; }

.emote-1 { height: 32px; }
.emote-2 { height: 56px; }
.emote-4 { height: 112px; }

/* --- [Message Types] --- */

.highlight .bubble-background {
  background: linear-gradient(-45deg, #ffadaddd, #ffd6a5dd, #fdffb6dd, #caffbfdd, #9bf6ffdd, #a0c4ffdd, #bdb2ffdd, #ffc6ffdd, #ffadaddd, #ffd6a5dd) 100% 100% / 900% 900%;
  animation: gradientShift 5s infinite linear;
}

.corner-diagonal .highlight .bubble-background {
  background:
    linear-gradient( 0deg,   var(--borderColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 90deg,  var(--borderColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 180deg, var(--borderColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 270deg, var(--borderColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 135deg, var(--borderColor) 0 calc(var(--topLeftCorner, 0px) + var(--borderSize)),     transparent 0) top left     / 50% 50%,
    linear-gradient(-135deg, var(--borderColor) 0 calc(var(--topRightCorner, 0px) + var(--borderSize)),    transparent 0) top right    / 50% 50%,
    linear-gradient(  45deg, var(--borderColor) 0 calc(var(--bottomLeftCorner, 0px) + var(--borderSize)),  transparent 0) bottom left  / 50% 50%,
    linear-gradient( -45deg, var(--borderColor) 0 calc(var(--bottomRightCorner, 0px) + var(--borderSize)), transparent 0) bottom right / 50% 50%,
    linear-gradient(-45deg, #ffadaddd, #ffd6a5dd, #fdffb6dd, #caffbfdd, #9bf6ffdd, #a0c4ffdd, #bdb2ffdd, #ffc6ffdd, #ffadaddd, #ffd6a5dd) 100% 100% / 900% 900%
  ;
  background-origin: border-box;
  background-repeat: no-repeat;
  animation: gradientShift-cornerDiagonal 5s infinite linear;
}

.highlight .text {
  color: black;
}

.action .text {
  font-style: italic;
}

.action .emote {
  transform: skew(-5deg);
}

/* --- [Animations] --- */

@keyframes gradientShift-cornerDiagonal {
  from { background-position: 0 0, 0 0, 0 0, 0 0, top left, top right, bottom left, bottom right, 100% 100%; }
  to { background-position: 0 0, 0 0, 0 0, 0 0, top left, top right, bottom left, bottom right, 0 0; }
}

@keyframes gradientShift {
  from { background-position: 100% 100%; }
  to { background-position: 0 0; }
}

@keyframes pop {
  20% { transform: scale(1.3); }
  to { opacity: 0; transform: scale(0); }
}

@keyframes fadeMessage {
  0%, 30% { opacity: 0; }
}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes up {
  from { transform: translateY(50px); }
  to { transform: translateY(0px); }
}

@keyframes down {
  from { transform: translateY(-50px); }
  to { transform: translateY(0px); }
}

@keyframes left {
  from { transform: translateX(50px); }
  to { transform: translateX(0px); }
}

@keyframes right {
  from { transform: translateX(-50px); }
  to { transform: translateX(0px); }
}

@keyframes expand {
  0% {
    width: 0;
    max-height: 0;
  }

  10% { width: calc(var(--dynamicWidth) * 1.75); }

  30% {
    width: var(--dynamicWidth);
    max-height: 0;
  }
  70% { max-height: {maxHeight}px; }
}