/* --- [Globals] --- */

* {
  font-family: '{googleFont}', '{customfont}', Nunito, Arial, sans-serif;
  font-size: {fontSize}px;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* --- [Widget Container] --- */

main {
  color: black;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

main.show-padding::before {
  content: '';
  --borderSize: 10px;
  position: absolute;
  height: calc(100% - {padding}px * 2);
  width: calc(100% - {padding}px * 2);
  top: calc({padding}px - var(--borderSize));
  left: calc({padding}px - var(--borderSize));
  border: var(--borderSize) dashed red;
  filter: drop-shadow(0 0 3px #0008);
}

main.show-padding::after {
  content: 'Messages will only appear within these bounds\a(You can move and resize the widget too!)';
  color: white;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  text-align: center;
  text-shadow: 0 0 3px black, 0 0 5px black;
  white-space: pre;
}

main.dark-mode { color: white; }

/* --- [Bubble Container] --- */

.bubble {
  --backgroundColor: #FFFD;
  --cornerSize: 23px;
  --userColor: #ff4a80;
  --borderSize: 5px;
  position: absolute;
  top: 30px;
  left: 30px;
  visibility: hidden;
  padding: var(--borderSize);

  --topRightCorner: calc(var(--cornerSize) - var(--borderSize));
  --bottomLeftCorner: calc(var(--cornerSize) / 2);
  --bottomRightCorner: calc(var(--cornerSize) / 2);

  -webkit-mask:
    linear-gradient( 135deg, transparent 0 var(--topLeftCorner, 0),     white 0) top left,
    linear-gradient(-135deg, transparent 0 var(--topRightCorner, 0),    white 0) top right,
    linear-gradient(  45deg, transparent 0 var(--bottomLeftCorner, 0),  white 0) bottom left,
    linear-gradient( -45deg, transparent 0 var(--bottomRightCorner, 0), white 0) bottom right
  ;
  -webkit-mask-size: 51% 51%;
  -webkit-mask-repeat: no-repeat;
}

.bubble.animate {
  visibility: visible;
}

.bubble.dynamic {
  animation: pop .5s calc({lifetime}s - .5s);
}

.bubble.fade {
  animation: fade .5s calc({lifetime}s - .5s), fade reverse .5s;
}

.bubble-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:
    linear-gradient( 0deg,   var(--userColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 90deg,  var(--userColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 180deg, var(--userColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 270deg, var(--userColor) calc(var(--borderSize) + 1px), transparent 0),
    linear-gradient( 135deg, var(--userColor) 0 calc(var(--topLeftCorner, 0px) + var(--borderSize)),     transparent 0) top left     / 50% 50%,
    linear-gradient(-135deg, var(--userColor) 0 calc(var(--topRightCorner, 0px) + var(--borderSize)),    transparent 0) top right    / 50% 50%,
    linear-gradient(  45deg, var(--userColor) 0 calc(var(--bottomLeftCorner, 0px) + var(--borderSize)),  transparent 0) bottom left  / 50% 50%,
    linear-gradient( -45deg, var(--userColor) 0 calc(var(--bottomRightCorner, 0px) + var(--borderSize)), transparent 0) bottom right / 50% 50%,
    var(--backgroundColor)
  ;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.dark-mode .bubble { --backgroundColor: #000B }

/* --- [Container Blocks] --- */

.username-box {
  z-index: 1;
  background-color: var(--userColor);
}

.username {
  text-shadow: 0 2px 0 #0002;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: -3px;
  display: inline-block;
  color: black;
}

.user-color-dark .username {
  color: white;
  text-shadow: 0 2px 0 #0006;
}

.message {
  --dynamicWidth: {maxWidth}px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: var(--dynamicWidth);
  max-height: {maxHeight}px;
}

.dynamic .message { animation: expand 2s; }

/* --- [Message Parts] --- */

.text {
  text-shadow: 0 1px 0 #0004;
}

.emote {
  position: relative;
  vertical-align: middle;
  margin: -.25rem 0;
}

.dynamic .text, .dynamic .emote { animation: fadeMessage 1.5s; }

.emote-1 { height: 32px; }
.emote-2 { height: 56px; }
.emote-4 { height: 112px; }

/* --- [Message Types] --- */

.highlight .bubble-background {
  background:
    linear-gradient( 0deg,   var(--userColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 90deg,  var(--userColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 180deg, var(--userColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 270deg, var(--userColor) calc(var(--borderSize) + .1px), transparent 0),
    linear-gradient( 135deg, var(--userColor) 0 calc(var(--topLeftCorner, 0px) + var(--borderSize)),     transparent 0) top left     / 50% 50%,
    linear-gradient(-135deg, var(--userColor) 0 calc(var(--topRightCorner, 0px) + var(--borderSize)),    transparent 0) top right    / 50% 50%,
    linear-gradient(  45deg, var(--userColor) 0 calc(var(--bottomLeftCorner, 0px) + var(--borderSize)),  transparent 0) bottom left  / 50% 50%,
    linear-gradient( -45deg, var(--userColor) 0 calc(var(--bottomRightCorner, 0px) + var(--borderSize)), transparent 0) bottom right / 50% 50%,
    linear-gradient(-45deg, #ffadaddd, #ffd6a5dd, #fdffb6dd, #caffbfdd, #9bf6ffdd, #a0c4ffdd, #bdb2ffdd, #ffc6ffdd, #ffadaddd, #ffd6a5dd) 100% 100% / 900% 900%
  ;
  background-origin: border-box;
  background-repeat: no-repeat;
  animation: gradientShift 5s infinite linear;
}

.highlight .text {
  color: black;
}

.action .text {
  font-style: italic;
  text-shadow: 0 1px 0 #0008;
}

.action .emote {
  transform: skew(-5deg);
}

/* --- [Animations] --- */

@keyframes gradientShift {
  from { background-position: 0 0, 0 0, 0 0, 0 0, top left, top right, bottom left, bottom right, 100% 100%; }
  to { background-position: 0 0, 0 0, 0 0, 0 0, top left, top right, bottom left, bottom right, 0 0; }
}

@keyframes pop {
  20% { transform: scale(1.3); }
  to { opacity: 0; transform: scale(0); }
}

@keyframes fadeMessage {
  0%, 30% { opacity: 0; }
}

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes expand {
  0% {
    width: 0;
    max-height: 0;
  }

  10% { width: calc(var(--dynamicWidth) * 1.75); }

  30% {
    width: var(--dynamicWidth);
    max-height: 0;
  }
  70% { max-height: {maxHeight}px; }
}