* {
  font-family: 'Yusei Magic', sans-serif;
  margin: 0;
  padding: 0;
  color: #952135;
  box-sizing: border-box;
  font-size: 18px;
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.row, .column {
  display: flex;
  justify-content: center;
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.box {
  background-color: #fc6c85;
  padding: 5px 10px;
  border: 2px solid #BE384E;
  box-shadow: 2px 2px 0 1px #BE384E, inset 5px 15px 40px 1px #FFA7B5;
  border-radius: 20px;
  flex: 0;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.name {
  font-size: 32px;
  padding: 0 10px;
}

.pronoun {
  padding-bottom: 3px;
  width: 70px;
}

.state-2 {
  position: absolute;
  padding: inherit;
  width: 100%;
  bottom: 3px;
  opacity: 0;
}

.pronoun-2 {
  text-align: right;
}