* {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 24px;
  color: #fc6c85;
  padding: 0;
  margin: 0;
}

.state {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px;
  opacity: 1;
}

.state2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.p1, .p2, .name {
  flex: 1;
  background-color: #0008;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 3px solid currentcolor;
  box-sizing: border-box;
  padding: 0 10px;
  text-shadow: 0 0 4px currentcolor;
  box-shadow: inset 0 0 5px currentcolor;
}

.p1 {
  text-align: start;
  border-top-right-radius: 0;
  border-right-width: 0;
}

.p2 {
  text-align: end;
  border-top-left-radius: 0;
  border-left-width: 0;
}

.p1, .p2 {
  border-color: #fc6c85;
  box-shadow: inset 0 0 5px #fc6c85;
}

.state2 .p1, .state2 .p2, .state2 .name {
  border-color: transparent;
  color: transparent;
  background-color: transparent;
  box-shadow: unset;
}

.name {
  text-align: center;
  font-size: 36px;
  padding-bottom: 5px;
  margin-bottom: -5px;
  color: #a9e694;
}