* {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: start;
  padding: 30px;
}

.title {
  font-size: 30px;
  color: {titleColor};
  background-color: #000B;
  border: 3px solid currentcolor;
  text-shadow: 0 0 5px #0008;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  flex: 1;
  box-shadow: 0 0 8px currentcolor, 0 0 4px currentcolor;
}

.rank {
  color: {rankColor};
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 30px;
}

#rank-0 {
  color: {topColor};
}

.level, .emote-container {
  height: 50px;
  background-color: #000B;
  border: 2px solid currentcolor;
  box-shadow: 0 0 8px currentcolor, 0 0 4px currentcolor;
  z-index: 1;
  position: relative;
}

.level {
  font-size: 24px;
  padding: 0 8px;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px black, 0 0 5px black;
}

.emote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.emote {
  height: 28px;
  filter: drop-shadow(0 0 5px black);
}

.xp-container {
  display: flex;
  background-color: #FFF8;
  border: 2px solid #000B;
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: 0 0 8px #0004, 0 0 4px #0004;
  box-sizing: border-box;
  flex-direction: row;
  position: relative;
  flex: 1;
}

.xp {
  width: 0%;
  background-color: currentcolor;
  overflow: visible !important;
  filter: drop-shadow(0 0 4px currentcolor) drop-shadow(0 0 0 currentcolor);
}

.xp-container:after, .level:after, .emote-container:after, .title:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(#FFF4, transparent);
}

.username {
  color: #000B;
  padding-left: 10px;
  padding-bottom: 3px;
  box-sizing: border-box;
}