* {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

#rank-container {
  margin: 40px;
}

.rank {
  color: #fc6c85;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

#rank-1 {
  color: #a9e694;
}

.rank p {
  text-shadow: 0 0 4px black, 0 0 4px currentcolor;
}

.name {
  margin-right: 10px;
}

.level-container {
  border: 3px solid currentcolor;
  box-shadow: inset 0 0 5px currentcolor;
  border-radius: 5px;
  background-color: #0008;
  height: 60px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  display: flex;
  flex-direction: column;
  border: 3px solid currentcolor;
  box-shadow: inset 0 0 5px currentcolor;
  border-radius: 5px;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #0008;
  width: 100%;
  padding: 7px;

}

.level {
  font-size: 30px;
}

.xp-container {
  margin-top: 3px;
  background-color: #0008;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.xp {
  background-color: currentcolor;
  height: 100%;
}