* {
  font-family: 'Yusei Magic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  height: 100%;
  width: 200%;
  display: flex;
  bottom: 0;
  align-items: flex-end;
  padding: 0 0 30px 30px;
}

.row, .column {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  animation: slideUp 1s ease-in-out;
  transform-origin: bottom;
  width: 265px;
}

.event:not(:first-child) {
  animation: slideRight 1s ease-in-out;
}

.event.remove {
  animation: fadeOut 1s ease-in-out forwards;
}

.username-box {
  padding: 7px 10px 8px 10px;
  border: 2px solid #BE384E;
  border-bottom-width: 0;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 2px 2px 0 2px #BE384E, inset 5px 10px 30px 1px #FFF6;
  display: flex;
  background-image: linear-gradient(-45deg, #fc6c85, #fc6c85, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, #fc6c85, #fc6c85);
  background-size: 1100% 1100%;
  animation: gradientShiftDiagonal 10s forwards;
  color: #952135;
  font-size: 20px;
  margin: 0 2px;
  justify-content: center;
}

.details-box {
  --stripeSize: 35px;
  border: 2px solid #6ec451;
  border-radius: 20px;
  border-top-color: #cefcbe80;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 2px 2px 0 2px #6ec451, inset 2px -5px 25px 1px #cefcbe80;
  padding: 0px 10px 5px 10px;
  background-image: repeating-linear-gradient(
    90deg,
    #98df7f,
    #98df7f var(--stripeSize),
    #a9e694 var(--stripeSize),
    #a9e694 calc(var(--stripeSize) * 2)
  );
  color: #2d7c13;
  font-size: 16px;
}

@keyframes gradientShiftDiagonal {
  from { background-position: 100% 100% }
  to { background-position: 0 0; }
}

@keyframes slideUp {
  0% { margin-bottom: -200px; }
  50% { margin-bottom: 75px; transform: scaleY(1.5) }
  75% { margin-bottom: 0; transform: scaleY(1) }
  80% { transform: scaleY(.75) }
}

@keyframes slideRight {
  0% { margin-left: -270px; }
  50% { margin-left: 0; transform: skew(15deg) }
  75% { margin-left: 0; transform: skew(-10deg) }
}

@keyframes fadeOut {
  to { opacity: 0 }
}